:root {
  --light-font-color-heading: #F9FAF8;
  --light-font-color-text: #E5E7EB;
  --dark-color: #1F2937;
  --light-color: #FFFFFF;
  --button-color: #3882F6;
  --neutral-color: #E5E7EB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

p {
  color: var(--dark-color);
}

.btn {
  padding: 10px 30px;
  cursor: pointer;
  background: var(--button-color);
  color: var(--light-font-color-heading);
  border-radius: 8px;
}

.btn-outline {
  border: 1px solid var(--light-font-color-heading);
}

.dark-wrapper {
  background-color: var(--dark-color);
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* navbar section */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.navbar > .logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--light-font-color-heading);
}

nav > ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

nav > ul > li {
  display: inline;
  color: var(--light-font-color-text);
}

/* hero section */
.hero-section {
  display: flex;
  gap: 2rem;
  padding: 100px 0;
}

.hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-main-text {
  color: var(--light-font-color-heading);
}

.hero-secondary-text {
  font-size: 18px;
  color: var(--light-font-color-text);
}

.hero-call-to-action {
  display: flex;
}

/* information section */
.information-section {
  padding: 50px 0 100px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.information-cards {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 2rem;
}

.information-card-item {
  width: 168px;
  text-align: center;
}

.information-card-item > img {
  border-radius: 8px;
  padding: 0 0 5px 0;
}

/* quote section */
.light-wrapper {
  background-color: var(--neutral-color);
}

.quote-section {
  max-width: 780px;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  color: var(--dark-color);
}

.quote-author {
  font-size: 24px;
  font-weight: 600;
  align-self: flex-end;
  color: var(--dark-color);
}

/* call to action section */
.call-to-action-section {
  padding: 100px 0;
}

.call-to-action-card {
  background-color: var(--button-color);
  border-radius: 8px;
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.call-to-action-card-text > h3 {
  color: var(--light-font-color-heading);
  padding-bottom: 5px;
}

.call-to-action-card-text > p {
  color: var(--light-font-color-text);
}

/* footer section */
footer {
  background-color: var(--dark-color);
  color: var(--light-font-color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8rem;
}
